@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,400&display=swap');

* {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

:root {
	--tier-title-height: 119px;
	--shell-title-height: 79px;
	--border-radius: 6px;
	--grey: rgb(26, 26, 26);
	--gap: 6px;
}

body {
	background-color: rgb(15, 15, 15);
	font-size: 18pt;
	display: flex;
	justify-content: space-between;
	gap: 20px;
	user-select: none;
	margin: var(--gap);
	padding: 0;
}

#left-panel,
#right-panel {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	height: calc(100vh - 20px);
	justify-content: space-between;
}

#left-panel {
	flex: 0 0 80%;
}

#right-panel {
	flex: 1;
	min-width: 0;
}

#tiers {
	scroll-behavior: smooth;
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex: 1;
	gap: var(--gap);
}

.tier {
	min-height: var(--tier-title-height);
	display: flex;
	background-color: var(--grey);
	border-radius: var(--border-radius);
	position: relative;
	margin-right: var(--gap);
}

.tier-title {
	border: none;
	outline: none;
	height: 100%;
	position: absolute;
	top: 0;
	left: 20;
	width: var(--tier-title-height);
	height: 100%;
	border-radius: var(--border-radius);
	font-size: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	overflow-wrap: break-word;
	overflow: hidden;
	user-select: none !important;
}

.tier-content {
	width: 100%;
	min-height: var(--tier-title-height);
	display: flex;
	flex-wrap: wrap;
	padding-inline: var(--gap);
	gap: var(--gap);
	margin-left: var(--tier-title-height)
}

.tier:hover .tier-settings {
	display: flex;
}

.tier-settings {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: var(--gap);
	height: calc(var(--tier-title-height) - 2 * var(--gap));
	width: 20px;
	left: var(--gap);
	border-radius: var(--border-radius);
	background-color: var(--grey);
	opacity: 0.3;
}

.tier-settings button {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	border-radius: var(--border-radius);
	font-size: 0.9rem;
	color: rgb(190, 190, 190);
	border: none;
	cursor: pointer;
}

.tier-settings:hover {
	opacity: 1;
}

.tier-settings button:hover {
	outline: 1px solid rgb(190, 190, 190);
}

.item {
	height: var(--tier-title-height);
	width: var(--tier-title-height);
	position: relative;
	cursor: grab;
}

.item:hover>.item-image {
	outline: 1px solid rgb(110, 110, 110);
	transition: opacity 0.1s ease-in-out;
}

.item-image {
	height: 100%;
	height: var(--tier-title-height);
	width: 100%;
	object-fit: cover;
	border-radius: var(--border-radius);
}

.item-title {
	border: none;
	outline: none;
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: 0px;
	box-sizing: border-box;
	transition: opacity 0.1s ease-in-out;
	opacity: 0;
	background-color: var(--grey);
	color: rgb(190, 190, 190);
	border-radius: var(--border-radius);
	padding: 3px;
	font-size: 1rem;
}

.item:hover>.item-title {
	opacity: 1;
}

#shell {
	min-height: var(--shell-title-height);
	max-height: calc(var(--shell-title-height) * 3);
	overflow-y: scroll;
	/* width: 100%; */
	flex: 1;
	background-color: var(--grey);
	border-radius: var(--border-radius);
	border: 2px dashed rgb(36, 36, 36);
	gap: 5px;
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
}

#shell .item,
#shell .item-image {
	height: var(--shell-title-height);
	width: var(--shell-title-height);
}

#shell .item-title {
	font-size: 0.8rem;
	width: var(--shell-title-height);
}

.hidden {
	display: none !important;
}

/* google cse */

.gsc-control-cse {
	height: calc(100% - 30px);
}

.gcse-search {
	flex: 1;
}

.gsc-positioningWrapper,
.gsc-above-wrapper-area,
.gs-image-popup-box {
	display: none !important;
}

.gsc-imageResult>.gsc-expansionArea {
	height: calc(100vh - 120px) !important;
	overflow-y: scroll;
}

.gsc-control-cse,
.gsc-input-box,
.gsc-search-button {
	border-radius: var(--border-radius);
}

/* body:has(dialog[open]) {
	filter: blur(5px);
} */

dialog {
	position: absolute;
	top: 20%;
	border: 5px solid rgba(56, 56, 56, 0.432);
	border-radius: var(--border-radius);
	/* filter: blur(0px) !important; */
	background-color: var(--grey);
	color: rgb(230, 230, 230);
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: none;

}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--grey);
	border-radius: var(--border-radius);
}